
# mod_rewrite starts here 

RewriteEngine on

# don't apply to directories 

RewriteCond %{REQUEST_FILENAME} !-d

# check .html file extensions

RewriteCond %{REQUEST_FILENAME}\.html -f

# DA RULE let's show .html pages 


RewriteRule ^(.*)$ $1.html [NC,L]
